html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
}

.left-panel {
    flex: 1 1 auto;
    outline: 1px solid red;
}

.right-panel {
    flex: 2 1 auto;
    outline: 1px solid black;
}