@font-face {
    font-family: "NorseBold";
    src: url("../fonts/Norsebold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.otf") format("opentype");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.otf") format("opentype");
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-BoldItalic.otf") format("opentype");
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}

:root {
    --form-width: 300px;
    --form-label-size: 0.9rem;
    --form-font-size: 1rem;
    --hero-font-size: 1.5rem;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    min-height: 100%;
    font-family: Inter, sans-serif;
}

.left-panel {
    flex: 1 1 0;
    background-image: url("../img/green-leaf-plant.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.right-panel {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 22%;
    background-color: #00000081;
    width: 100%;
    height: 7rem;
    padding: 10px 0;
    font-family: NorseBold;
    font-size: 4rem;
    color: #ffffff;
}

.logo {
    max-height: 100%;
}

.attribution {
    position: absolute;
    left: 30%;
    bottom: 10px;
    color: #ffffff;
    font-size: 0.8rem;
}

.attr-link {
    color: #ffffff;
}

.hero-section,
.form-section,
.submission-section {
    flex: 1 1 0;
    padding: 20px 40px;
}

.hero-section,
.submission-section {
    background-color: #eeeeee;
}

.hero-section {
    padding-top: 30px;
    padding-right: 200px;
}

.hero-text {
    font-size: var(--hero-font-size);
    font-weight: bold;
}

.form-section {
    padding-top: 20px;
    padding-right: 250px;
    box-shadow: 0 10px 10px -1px #dbdbdb;
    position: relative;
    z-index: 0;
}

.signup-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    gap: 12px;
}

.form-item {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-items: flex-start;
}

label {
    font-size: var(--form-label-size);
}

input {
    width: var(--form-width);
    padding: 5px;
    font-size: var(--form-font-size);
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

input:focus {
    outline: 1px solid #0095ff;
    box-shadow: 0 0 7px 1px #cecece;
}

#pwd:user-invalid,
#pwd-confirm:user-invalid {
    outline: 1px solid #ff0000;
}

.call-to-action {
    font-size: var(--hero-font-size);
    font-weight: bold;
    margin-top: 0;
}

.submission-section {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.submit-button {
    position: relative;
    padding: 15px 50px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #596D48;
    box-shadow: 0 5px 10px 1px #c6c6c6;
}

.submit-button:hover {
    background-color: #597848;
}

.submit-button:active {
    background-color: #597848;
    top: 1px;
}

.log-in-link:link,
.log-in-link:visited,
.log-in-link:active {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.log-in-link:hover {
    color: #6f885a;
}