html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
}

.left-panel {
    flex: 1 1 auto;
    background-image: url("../img/green-leaf-plant.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.right-panel {
    flex: 2 1 auto;
}

.logo-title {
    position: absolute;
    top: 33%;
    background-color: #00000081;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
}